<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app">
    <div class="container">
        <div class="row" ng-controller="firstCtrl">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6">
                        <input type="number" placeholder="number" ng-model="firstNum" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input type="number" placeholder="number" ng-model="secondNum" class="form-control">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <button ng-click="sum()" class="btn btn-primary">Sum</button>
                    </div>
                </div>
                <div class="row text-center">
                    <label>The Sum</label>
                    <p>{{numberSum}}</p>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="secondCtrl">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6">
                        <input type="number" placeholder="number" ng-model="firstNum" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input type="number" placeholder="number" ng-model="secondNum" class="form-control">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <button ng-click="multi()" class="btn btn-success">Sum</button>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <label>The multiple</label>
                        <p>{{numberMulti}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>




    </div>
    <div ng-controller="secondCtrl">
        
        
        
        
        
    </div>
    <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>