<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mighty Clicker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp">
   <div ng-controller="ctrl">
       <div class="container">
          <div class="row text-center">
              <div class="col-md-12">
                  <h1>Mighty Clicker</h1>
              </div>
          </div>
           <div class="row text-center">
               <div class="col-md-6">
                  <h3 ng-model="blueScore">Score {{blueScore}}</h3>
                   <input type="button" class="btn btn-primary" value="Click" ng-click="blueClick()">
               </div>
               <div class="col-md-6">
                   <h3 ng-model="redScore">Score {{redScore}}</h3>
                   <input type="button" class="btn btn-danger" value="Click" ng-click="redClick()">
               </div>
           </div>
       </div>
   </div>
    <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>