<div class="row text-center">
    <div class="col-md-12">
        <h1>Why I Love Barcelona</h1>
    </div>
    <div class="col-md-12">
       <div class="about">
           I’ve lived in Barcelona for seven months now and strangely, I don’t have much up on the blog to show for it. Part of that is because I wanted to become a relative expert before writing the inevitable “The Best Crap To Do in Barcelona!!!” lists. Another part is because there is so much already out there on Barcelona, perhaps I’m intimidated to throw my hat into the ring as well. But let’s break the silence, shall we? Because, basically, I can’t keep it in anymore. I’m in love with this city. I’ve lived in Granada and Bilbao; I’ve traveled extensively by foot, car, bus, train, and plane throughout most of the Iberian Peninsula. And while I’ve been awed by many parts of this country, Barcelona is unequivocally the right place for me in Spain.
       </div>
    </div>
</div>