body {
    background-image: url(pexels-photo-131683.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

img {
    width: 80%;
    height: 50vh;
    border-radius: 5px;
}

.about {
    font-size: 20px;
    margin-top: 50px;
    color: white;
    text-align: justify;
}

h1 {
    color: white
}
.navbar {
    background: #00BFA5;
    color: white;
    font-size: 20px;
}
.navbar a {
    color: white;
}
.navbar li a:visited {
    background: #009688;
}
.navbar li a:hover {
    background: #009688;
}

.navbar li a:active {
    background: #009688;
}

