body {
    background-image: url(water-blue-ocean.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
img {
    width: 100%;
    height: 100vh;
}
.about {
    font-size: 20px;
    margin-top: 50px;
    color: white;
    text-align: justify;
}
h1 {
    color: white
}
.navbar {
    background: white;
}