<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app" ng-controller="ctrl">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1>Todo List</h1>
                    </div>
                </div>
                <div class="add">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" ng-model="text" class="form-control" placeholder="New Post">
                        </div>
                        <div class="col-md-2">
                            <button ng-click="add()" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div ng-init="loadData()" class="reqData">
                    <div class="header-info">
                        <div class="row text-center">
                            <div class="col-md-1">
                                <h3>#</h3>
                            </div>
                            <div class="col-md-7">
                                <h3>Title</h3>
                            </div>
                            <div class="col-md-2">
                                <h3>Edit</h3>
                            </div>
                            <div class="col-md-2">
                                <h3>Delete</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" ng-repeat="item in items track by $index">
                        <div class="col-md-1">
                            <span>{{$index}}</span>
                        </div>
                        <div class="col-md-7">
                            <span ng-show="dataupdateButton[$index]">{{item.title}}</span>
                            <input ng-model="item.title" ng-init="item.title" ng-show="editInput[item._id]" class="form-control text-center">
                        </div>
                        <div class="col-md-2">
                            <i ng-click="updated(item._id,$index)" class="glyphicon glyphicon-pencil " ng-show="dataupdateButton[$index]"></i>
                            <i ng-click="addUpdate(item._id,item.title,$index)" ng-show="editInput[item._id]" class="glyphicon glyphicon-ok "></i>
                        </div>
                        <div class="col-md-2">
                            <i ng-click="delete(item._id)" class="glyphicon glyphicon-trash "></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>