body {
    background-color: #90CAF9;
}
.reqData .row {
    margin-bottom: 20px;
}

.reqData {
    border: 3px solid black;
    padding-right: 50px;
    padding-left: 20px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.add {
    margin-bottom: 30px;
}

.glyphicon {
    font-size: 20px;
    cursor: pointer;
}

.glyphicon-pencil,
.glyphicon-ok {
    color: blue;
    margin: auto;
}

.glyphicon-trash {
    color: red;
    margin: auto;
}