.containerOne {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.row {
    margin-top: 30px;
}