<form name="myForm">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Sign In</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Username</h3>
                        <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Password</h3>
                        <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="add-btn">
                            <button class="btn btn-primary" ng-click="signin()" ng-disabled="myForm.$invalid">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>