.name {
    font-size: 20px;
}
.btn-row {
    margin-top: 10px;
}
h1 {
    margin-bottom: 50px;
}
body {
    background-image: url(thumb-1920-273289.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}