<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app" ng-controller="ctrl">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="cont">
                    <div>{{likeOne}}</div>
                    <img src="messi.jpg" class="img-responsive">
                    <button ng-click="likeOneClick()" class="btn btn-primary">Like</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cont">
                    <div>{{likeTwo}}</div>
                    <img src="neymar.jpg" class="img-responsive">
                    <button ng-click="likeTwoClick()" class="btn btn-primary">Like</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.angularjs.org/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>