<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fixer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="app" ng-controller="ctrl" ng-init="loadDate()">
   <div class="container">
       <div class="row text-center">
          <div class="col-md-12">
              <h1>Angular Fixer.io</h1>
          </div>
       </div>
       <div class="row text-center">
           <div class="col-md-6 col-md-offset-3">
               <div class="row text-center">
                   <div class="col-md-6">
                       <h3>Your currency</h3>
                       <select class="form-control">
                           <option value="USD">USD</option>
                       </select>
                       <input type="number" ng-model="yourCurr" placeholder="Amount" class="form-control">
                       <button ng-click="convert(selectedCurr)" class="btn btn-primary">Convert</button>
                   </div>
                   <div class="col-md-6">
                       <h3>Currency you want</h3>
                       <select ng-model="selectedCurr" ng-options="x for (x,y) in list.rates" class="form-control">
                       </select>
                       <input type="number" ng-model="convertedCurr" ng-init="convertedCurr" placeholder="Converted" class="form-control">
                   </div>
               </div>
           </div>
       </div>
   </div>
    <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>